{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#tts">Text To Speech</a></li>
            <li class="tab col s6"><a href="#stt">Speech To Text</a></li>
        </ul>
    </div>
    <div id="tts" class="row">
        <div class="col s12">
        <form id="tts_form">
            <div class="input-field col s12">
                <select id="model" name="model">
                    {% for model in models %}
                        <option value={{ model }}>{{ model }}</option>
                    {% endfor %}}
                    </select>
                <label>Sprecher</label>
            </div>
            <div class="input-field col s12">
                <textarea id="text_input" name="text_input" class="materialize-textarea" data-length="300"></textarea>
                <label for="text_input">Text Eingeben...</label>
            </div>
            <div class="col s12">
                <button class="btn waves-effect waves-light" id="inference_tts">Audio Generieren
    
                </button>
            </div>
        </form>
        <div class="col s12 left" style="padding-top: 3vh;">
            <h4><a href="/results">Samples</a></h4>
        </div> 
    </div>
    
    </div>
    <div id="stt" class="row">
        <div class="col s12">
        <form enctype="multipart/form-data" id="stt_form">
            <div class="input-field col s12">
                <select id="model_name" name="model_name">
                    <option value="commonvoice_only">commonvoice_only</option>
                </select>
            </div>
            <div class="input-field col s12">
                <input type = "file" name = "audio_1"/>
            </div>
            <div class="col s12">
                <button class="btn waves-effect waves-light" id="inference_stt">Text Generieren
    
                </button>
            </div>
        </form>
    </div>
    
    <div id="inference_text" class="col s12 left"></div>
    </div>
    <div class="col s12">
        <p>{{errormessage}}</p>
    </div>
    <div class="col s12">
        <div id="loading_indicator" class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div id="tts_inferences" class="col s12 left">

    </div>

</div>
{% endblock %}